.top-menu{
    text-align: right;
    padding: 25px;
    background-color: darkcyan;
}

.top-menu a{
    padding: 10px 20px;
    background-color: darkcyan;
    color: #fff;
    margin: -2px;
    text-decoration: none;
}